* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(214, 210, 210);
}

.cont-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9dde2;
  padding: 1vh 1vw 1vh 1vw;
  width: 95%;
}

.activities {
  background-color: #fff;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 5vw;
  width: 90vw;
}

.sync {
  margin-right: 3%;
  width: 4%;
}

.input {
  display: flex;
  justify-content: space-between;
}

.text {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1vh 1vw 1vh 1vw;
  border-bottom: 1px solid #d9dde2;
  width: 83vw;
}

.enter {
  width: 2%;
  margin-left: -15vw;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 2vw;
}

.cont-task {
  display: flex;
  align-items: center;
  padding: 1vh 1vw 1vh 1vw;
  border-bottom: 1px solid #d9dde2;
  width: 86vw;
}

.task {
  margin-left: 1vw;
  width: 80%;
  height: 1%;
}

.dots {
  margin-left: 5vw;
  width: 4%;
}

.delete {
  width: 6%;
  display: none;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.dots:hover > .delete {
  display: block;
  cursor: pointer;
}

.cont-clear {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
}

.clear {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  margin-left: 0;
  margin-right: 0;
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: gray;
}

@media (min-width: 768px) {
  .activities,
  .cont-clear {
    width: 60vw;
    margin-left: 20vw;
  }

  .text,
  .cont-task,
  .activities h5 {
    width: 56vw;
  }

  .enter {
    margin-left: -4vw;
  }

  .cont-heading {
    width: 56vw;
  }

  .dots {
    width: 2%;
    margin-left: 10vw;
    display: block;
  }

  .delete {
    width: 2.3%;
    margin-left: 12vw;
    display: none;
  }

  .active {
    display: block;
  }

  .inactive {
    display: none;
  }

  .sync {
    margin-right: 0;
    width: 2%;
  }
}
